<form
	[formGroup]="formService.form"
	(ngSubmit)="formService.updateExpenseCategory()"
	class="gap-8 grid grid-cols-1 w-full"
>
	<div class="flex flex-col gap-2">
		<label for="id" class="font-medium text-sm">ID </label>

		<input
			pInputText
			[value]="expenseCategory().id"
			id="id"
			name="id"
			type="text"
			disabled="true"
		/>
	</div>

	<gb-expense-category-name-input [fc]="getFc('name')" />

	<gb-expense-category-description-textarea [fc]="getFc('description')" />

	<gb-expense-category-color-picker [fc]="getFc('hexColorCode')" />

	<div class="flex flex-col gap-2">
		<label for="creator_id" class="font-medium text-sm">Creator ID </label>

		<input
			pInputText
			[value]="expenseCategory().creator_id"
			id="creator_id"
			name="creator_id"
			type="text"
			disabled="true"
		/>
	</div>

	<div class="flex flex-col gap-2">
		<label for="created_at" class="font-medium text-sm">Created at</label>

		<input
			pInputText
			[value]="expenseCategory().created_at"
			id="created_at"
			name="created_at"
			type="text"
			disabled="true"
		/>
	</div>

	<p-button
		label="Update"
		type="submit"
		icon="pi pi-pencil"
		rounded="true"
		[loading]="formService.isUpdatingExpenseCategory()"
		[disabled]="formService.isUpdatingExpenseCategory()"
		fluid
	/>
</form>
