<div>
	<label for="password">Password</label>

	<p-inputgroup>
		<input
			[formControl]="password()"
			gbSelectOnFocus
			pInputText
			name="password"
			[type]="isPasswordVisible() ? 'text' : 'password'"
			minlength="8"
			maxlength="32"
			placeholder="Ex: MyValidPassword123!"
			aria-describedby="password-help"
		/>

		<p-inputgroup-addon>
			<p-button
				[icon]="isPasswordVisible() ? 'pi pi-eye-slash' : 'pi pi-eye'"
				(onClick)="togglePasswordVisibility()"
				aria-label="Toggle password visibility"
			/>
		</p-inputgroup-addon>
	</p-inputgroup>

	<small id="password-help">Enter desired password with 8 - 32 characters.</small>

	@if ((password().touched || password().dirty) && password().hasError('required')) {
		<p-message severity="error" size="small" variant="simple">Password is required.</p-message>
	}

	@if ((password().touched || password().dirty) && password().hasError('minlength')) {
		<p-message severity="error" size="small" variant="simple"
			>Password should contain at least 8 characters.
		</p-message>
	}

	@if ((password().touched || password().dirty) && password().hasError('pattern')) {
		<p-message severity="error" size="small" variant="simple">
			Password should contain at least one: uppercase letter, lowercase letter, number and special
			symbol ('!', '?', '_', '$', '#', '%', '^', '&', '*').
		</p-message>
	}
</div>
