<div class="flex flex-col gap-2">
	<label for="password">{{ label() }}</label>

	<p-inputgroup>
		<input
			[formControl]="password()"
			gbSelectOnFocus
			pInputText
			[name]="password()"
			[type]="isPasswordVisible() ? 'text' : 'password'"
			[minlength]="'' + minLength"
			[maxlength]="'' + maxLength"
			[placeholder]="placeholder()"
			aria-describedby="password-help"
		/>

		<p-inputgroup-addon>
			<p-button
				[icon]="isPasswordVisible() ? 'pi pi-eye-slash' : 'pi pi-eye'"
				(onClick)="togglePasswordVisibility()"
				aria-label="Toggle password visibility"
			/>
		</p-inputgroup-addon>
	</p-inputgroup>

	<small id="password-help">
		Enter password with {{ minLength() }} - {{ maxLength() }} characters.
	</small>

	<ng-content select="[errors]"></ng-content>
</div>
