<p-toolbar class="mb-4">
	<ng-template #start>
		<div class="flex items-center gap-2">
			<p-button
				label="New"
				severity="secondary"
				size="small"
				icon="pi pi-plus"
				(onClick)="openExpenseCategoryCreationDialog()"
			/>

			<p-button
				label="Refresh"
				severity="secondary"
				size="small"
				icon="pi pi-refresh"
				(onClick)="expenseCategoriesPaginatedService.loadExpenseCategories()"
			/>

			<p-button
				label="Delete all"
				variant="outlined"
				size="small"
				severity="danger"
				icon="pi pi-trash"
				(onClick)="openAllExpenseCategoriesDeletionDialog()"
			/>
		</div>
	</ng-template>
</p-toolbar>
