<div class="flex flex-col gap-2">
	<label for="name" class="font-medium text-sm">Name <gb-required-star /></label>

	<input
		[formControl]="fc()"
		id="name"
		type="text"
		required
		minlength="1"
		maxlength="64"
		placeholder="Ex: Entertainment"
		pInputText
		fluid
	/>

	@if ((fc().touched || fc().dirty) && fc().hasError('required')) {
		<p-message severity="error" size="small" variant="simple">Name is required.</p-message>
	}

	@if ((fc().touched || fc().dirty) && fc().hasError('maxlength')) {
		<p-message severity="error" size="small" variant="simple">
			Name should contain 1 - 64 characters.
		</p-message>
	}
</div>
