<form
	[formGroup]="formService.form"
	(ngSubmit)="formService.updateCurrency()"
	class="gap-8 grid grid-cols-1 w-full"
>
	<div class="flex flex-col gap-2">
		<label for="id" class="font-medium text-sm">ID </label>

		<input pInputText [value]="currency().id" id="id" name="id" type="text" disabled="true" />
	</div>

	<div class="flex flex-col gap-2">
		<label for="name" class="font-medium text-sm">Name <gb-toolkit-required-star /></label>

		<input
			pInputText
			formControlName="name"
			id="name"
			name="name"
			type="text"
			maxlength="64"
			required
			placeholder="Ex: US Dollar"
		/>

		@if (
			(formService.form.get('name')?.touched || formService.form.get('name')?.dirty) &&
			formService.form.get('name')?.hasError('required')
		) {
			<p-message severity="error" size="small" variant="simple">Name is required.</p-message>
		}

		@if (
			(formService.form.get('name')?.touched || formService.form.get('name')?.dirty) &&
			formService.form.get('name')?.hasError('maxlength')
		) {
			<p-message severity="error" size="small" variant="simple">
				Name should contain 1 - 64 characters.
			</p-message>
		}
	</div>

	<div class="flex flex-col gap-2">
		<label for="alphabeticalCode" class="font-medium text-sm">Alphabetical code</label>

		<input
			pInputText
			formControlName="alphabeticalCode"
			id="alphabeticalCode"
			name="alphabeticalCode"
			type="text"
			maxlength="3"
			placeholder="Ex: USD"
		/>

		@if (
			(formService.form.get('alphabeticalCode')?.touched ||
				formService.form.get('alphabeticalCode')?.dirty) &&
			formService.form.get('alphabeticalCode')?.hasError('pattern')
		) {
			<p-message severity="error" size="small" variant="simple">
				Alphabetical code should follow ISO 4217.
			</p-message>
		}
	</div>

	<div class="flex flex-col gap-2">
		<label for="creator_id" class="font-medium text-sm">Creator ID </label>

		<input
			pInputText
			[value]="currency().creator_id"
			id="creator_id"
			name="creator_id"
			type="text"
			disabled="true"
		/>
	</div>

	<div class="flex flex-col gap-2">
		<label for="created_at" class="font-medium text-sm">Created at</label>

		<input
			pInputText
			[value]="currency().created_at"
			id="created_at"
			name="created_at"
			type="text"
			disabled="true"
		/>
	</div>

	<p-button
		label="Update"
		type="submit"
		icon="pi pi-pencil"
		rounded="true"
		[loading]="formService.isUpdatingCurrency()"
		[disabled]="formService.isUpdatingCurrency()"
		styleClass="w-full"
	/>
</form>
