<div class="sm:flex sm:items-center gap-2 grid grid-cols-1">
	<p-button
		label="View all"
		variant="outlined"
		size="small"
		severity="secondary"
		icon="pi pi-list"
		styleClass="w-full"
		(onClick)="navigateToCurrenciesPage()"
	/>

	<p-button
		label="Delete the currency"
		variant="outlined"
		size="small"
		severity="danger"
		icon="pi pi-trash"
		styleClass="w-full"
		(onClick)="openCurrencyDeletionDialog($event)"
	/>

	<p-button
		label="Delete expenses that use this currency"
		variant="outlined"
		size="small"
		severity="danger"
		icon="pi pi-trash"
		styleClass="w-full"
		(onClick)="openExpensesDeletionDialog($event)"
	/>
</div>
