<p-confirm-dialog />

@let currencies = currenciesTableService.currencies();

@if (currenciesTableService.areCurrenciesLoading()) {
	<p-progress-spinner class="flex justify-center" aria-label="Currencies loading..." />
} @else if (currencies == null) {
	<gb-toolkit-refreshable-empty-content message="Unfortunately, currencies could not be found" />
} @else {
	<div class="card">
		<p-table
			[value]="currencies"
			paginator
			[rows]="currenciesTableService.pagination().size"
			[first]="currenciesTableService.pagination().number"
			[rowsPerPageOptions]="[5, 10, 20, 50]"
			showCurrentPageReport
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} currencies"
			stripedRows
			[tableStyle]="{ 'min-width': '50rem' }"
			(onPage)="currenciesTableService.pageChange($event)"
		>
			<ng-template #header>
				<tr>
					<th style="width: 15%">ID</th>
					<th style="width: 20%">Name</th>
					<th style="width: 25%">Alphabetical Code</th>
					<th style="width: 25%">Created At</th>
					<th style="width: 15%"></th>
				</tr>
			</ng-template>

			<ng-template #body let-currency>
				<tr class="cursor-pointer" (click)="router.navigate(['/currencies', currency.id])">
					<td>{{ currency.id ?? '-' }}</td>
					<td>{{ currency.name ?? '-' }}</td>
					<td class="uppercase">{{ currency.alphabetical_code ?? '-' }}</td>
					<td>{{ (currency.created_at | date: 'long') ?? '-' }}</td>
					<td>
						<p-buttongroup>
							<p-button
								label="Update"
								text
								size="small"
								[disabled]="typeof currency.id != 'number'"
								icon="pi pi-check"
								(onClick)="openCurrencyUpdateDialog($event, currency)"
							/>

							<p-button
								label="Delete"
								text
								severity="danger"
								size="small"
								[disabled]="typeof currency.id != 'number'"
								icon="pi pi-trash"
								(onClick)="openCurrencyDeleteDialog($event, currency)"
							/>
						</p-buttongroup>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
}
