html {
	height: 100%;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.2;
}

a {
	text-decoration: none;
}
