<div class="flex flex-col gap-2">
	<label for="amount" class="font-medium text-sm">Amount <gb-required-star /></label>

	<p-inputNumber
		[formControl]="fc()"
		inputId="amount"
		[required]="true"
		placeholder="Ex: 30"
		mode="currency"
		[currency]="currencyCode()"
		currencyDisplay="symbol"
		fluid
	/>

	@if ((fc().touched || fc().dirty) && fc().hasError('required')) {
		<p-message severity="error" size="small" variant="simple"> Amount is required. </p-message>
	}

	@if ((fc().touched || fc().dirty) && fc().hasError('forbiddenAmount')) {
		<p-message severity="error" size="small" variant="simple">
			Amount should be positive.
		</p-message>
	}
</div>
