@import 'primeicons/primeicons.css';

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
}

a {
	text-decoration: none;
}

.app-shell {
	height: 100%;

	&-loading-container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
