<form
	[formGroup]="formService.form"
	(ngSubmit)="formService.createExpenseCategory()"
	class="gap-8 grid grid-cols-1 w-full"
>
	<gb-expense-category-name-input [fc]="getFc('name')" />

	<gb-expense-category-description-textarea [fc]="getFc('description')" />

	<gb-expense-category-color-picker [fc]="getFc('hexColorCode')" />

	<p-button
		label="Create"
		type="submit"
		icon="pi pi-plus"
		rounded="true"
		[loading]="formService.isCreatingExpenseCategory()"
		[disabled]="formService.isCreatingExpenseCategory()"
		fluid
	/>
</form>
