<form
	[formGroup]="formService.form"
	(ngSubmit)="formService.login()"
	class="gap-8 grid grid-cols-1"
>
	<gb-email-input [email]="email()">
		<ng-container errors>
			@if ((email().touched || email().dirty) && email().hasError('required')) {
				<p-message severity="error" size="small" variant="simple">Email is required.</p-message>
			}

			@if ((email().touched || email().dirty) && email().hasError('email')) {
				<p-message severity="error" size="small" variant="simple">
					Email should be a valid email address.
				</p-message>
			}
		</ng-container>
	</gb-email-input>

	<gb-password-input [password]="password()">
		<ng-container errors>
			@if ((password().touched || password().dirty) && password().hasError('required')) {
				<p-message severity="error" size="small" variant="simple">Password is required.</p-message>
			}

			@if ((password().touched || password().dirty) && password().hasError('minlength')) {
				<p-message severity="error" size="small" variant="simple"
					>Password should contain at least 8 characters.
				</p-message>
			}

			@if ((password().touched || password().dirty) && password().hasError('pattern')) {
				<p-message severity="error" size="small" variant="simple">
					Password should contain at least one: uppercase letter, lowercase letter, number and
					special symbol ('!', '?', '_', '$', '#', '%', '^', '&', '*').
				</p-message>
			}
		</ng-container>
	</gb-password-input>

	<p-button
		label="Login"
		type="submit"
		icon="pi pi-sign-in"
		rounded="true"
		[loading]="formService.isLoginLoading()"
		styleClass="w-full"
	/>
</form>
